@using fellowship_mvc.Models
@model fellowship_mvc.Models.Login  
@{
    ViewBag.Title = "Fellowship";
}
@Styles.Render("~/Content/login/login.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="child-item">
            <img class="img-login" src="~/Content/login/ilustracao-login-1.svg" alt="..."/>
            <img class="img-login" src="~/Content/login/ilustracao-login-2.svg" alt="..."/>
        </div>

        <div class="content"></div>
        <div class="child-item form-login border">
            <form method="post">
                <img
                    src="~/Content/logo.svg"
                    class="logo-login"
                    alt="Fellowship"/>
                <div>
                    <label>Email</label>
                    <input
                        class="border-input form-control"
                        type="email"
                        id="floatingInput"
                        required
                        name="email" />
                </div>
                <div>
                    <label>Senha</label>
                    <input
                        class="border-input form-control"
                        type="password"
                        id="floatingPassword"
                        required
                        name="password"/>
                </div>
                <button type="submit" class="btn-login">Entrar</button>
            </form>

            <hr class="aparador-login"/>

            <div class="call-login">
                <p>Ainda não tem conta?</p>
                <h4 onclick="modalCadastro()">Cadastre-se</h4>
            </div>
            <div class="forgot-password">
                <p onclick="openModalForgotPassword()">Esqueceu a senha?</p>
            </div>

            <!--Modal esqueceu a senha-->
            <div class="modal-cadastro" id="modal-forgot-password">
                <div class="modal-form-cadastro">
                    <form
                        class="form-cadastro border"
                        onsubmit="recuperarSenha(this);return false;">
                        <span class="close-modal" onclick="closeModalForgotPassword()">
                            &times;
                        </span
                        >
                        <div>
                            <img
                                src="~/Content/login/cadeado.svg"
                                class="logo-cadastro"
                                alt="Fellowship"/>
                        </div>
                        <h2 class="titulo-modal-esqueceu-senha">Esqueceu a senha?</h2>
                        <div class="forgot-password-div">
                            <h3 class="forgot-password-text">Após clicar em recuperar senha, você receberá as instruções por e-mail.</h3>
                        </div>
                        <div>
                            <label>Email</label>
                            <input
                                class="border-input"
                                type="email"
                                id="reset-password-input"
                                name="email" required/>
                        </div>
                        <button type="submit" class="btn-cadastro">Recuperar senha</button>
                    </form>
                </div>
            </div>
            
            <!--Cadastro-->
            <div class="modal-cadastro" id="modalCadastro">
                <div class="modal-form-cadastro">
                    <form
                        class="form-cadastro border"
                        onsubmit="registro(this);return false;">
                        <span class="close-modal" onclick="fecharModalCadastro()">
                            &times;
                        </span
                        >
                        <div>
                            <img
                                src="~/Content/logo.svg"
                                class="logo-cadastro"
                                alt="Fellowship"/>
                        </div>
                        <div>
                            <label>Nome Completo</label>
                            <input
                                class="border-input"
                                type="text"
                                id="nomeInput"
                                name="name" required/>
                        </div>
                        <div>
                            <label>Email</label>
                            <input
                                class="border-input"
                                type="email"
                                id="emailInput"
                                name="email" required/>
                        </div>
                        <div>
                            <label>Senha</label>
                            <input
                                class="border-input"
                                type="password"
                                id="passwordInput"
                                name="password" required/>
                        </div>
                        <div>
                            <label>CEP</label>
                            <input
                                class="border-input"
                                type="text"
                                id="cepInput"
                                name="postalCode" required size="10" maxlength="9" onblur="preencheBairro(this.value,'bairroCadastroInput')"/>
                        </div>
                        <div>
                            <label>Data de nascimento</label>
                            <input
                                class="border-input"
                                type="date"
                                id="dataDeNascimentoInput"
                                name="birthday"
                                required/>
                        </div>

                        <div>
                            <label></label>
                            <input
                                class="border-input"
                                type="text"
                                id="bairroCadastroInput"
                                name="neighborhood" disabled
                                placeholder="Bairro"/>
                        </div>
                        <button type="submit" class="btn-cadastro">Cadastre-se</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}